<h1>Posts</h1>
<div class="row">
    <div class="col-md-6">
        <select class="form-control" (change)="reloadPosts({ userId: u.value })" #u>
            <option value="">Select a user...</option>
            <option *ngFor="#user of users" value="{{ user.id }}">
                {{ user.name }}
            </option>
        </select>
        <spinner [visible]="postsLoading"></spinner>
        <pagination [items]="posts" (page-changed)="onPageChanged($event)"></pagination>
        <ul class="list-group posts">
            <li *ngFor="#post of pagedPosts" class="list-group-item" [class.active]="currentPost == post" (click)="select(post)">
                {{ post.title }}
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <div *ngIf="currentPost" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ currentPost.title }}</h3>
            </div>
            <div class="panel-body">
                <p>{{ currentPost.body }}</p>
                <hr/>
                <spinner [visible]="commentsLoading"></spinner>
                <div class="media" *ngFor="#comment of currentPost.comments">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object thumbnail" src="http://lorempixel.com/80/80/people?random={{ comment.id }}" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            {{ comment.name }}
                        </h4> 
                        {{ comment.body }}
                    </div>
                </div>
            </div>
        </div>
    </div>