<h1>Posts</h1>
<div class="row">
    <div class="col-md-6">
        <spinner [visible]="isLoading"></spinner>
        <ul class="list-group posts">
            <li *ngFor="#post of posts"
                class="list-group-item"
                [class.active]="currentPost == post"
                (click)="select(post)">
                {{ post.title }}
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <div *ngIf="currentPost" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ currentPost.title }}</h3>
            </div>
            <div class="panel-body">
                <p>{{ currentPost.body }}</p>
            </div>
        </div>
    </div>
</div>