<h1>Add a User</h1>
<div class="row">
    <div class="col-md-6 well">
        <form [ngFormModel]="form">
            <fieldset>
                <legend>
                    User
                </legend>
                <div class="form-group">
                    <label>Name</label>
                    <input ngControl="name" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input ngControl="email" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <input ngControl="phone" type="text" class="form-control">
                </div>
            </fieldset>
            <fieldset ngControlGroup="address">
                <legend>Address</legend>
                <div >
                    <div class="form-group">
                        <label>Street</label>
                        <input ngControl="street" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Suite</label>
                        <input ngControl="suite" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <input ngControl="city" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>ZipCode</label>
                        <input ngControl="zipcode" type="text" class="form-control">
                    </div>
                </div>
            </fieldset>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>